@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet");


:root{

    --primary:#F2C94C;
}
body{

    margin: 0;
    font-family: 'Indie Flower', cursive;

}
nav{

    background-color: var(--primary);
    text-align: center;
    padding: 1rem;
}
.nav-header h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
div.nav-header{

    font-size: 2rem;
}

main{
    text-align: center;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

textarea{

    width: 100%;
    height: 20vh;
    padding: 1rem;
    border: 2px solid black;
}